/* Set Font */
body {
    font-family: 'Conv_THSarabunNew',sans-serif;
    font-size: x-large;
}
/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
    overflow-x: hidden;
    -webkit-transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    -webkit-backface-visibility: hidden;
}
#page-content.slide-active {
    padding-top: 0;
    position:fixed;
}
/* เพิ่มเอง สี header*/
#slide-nav.navbar-color {
    background-color: #ac2925;
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
    background-color: white;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange;
    -webkit-transform: translateZ(0);
}
.navbar-header {
    position: relative;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

#slide-nav .container {
    margin: 0!important;
    padding: 0!important;
    height:100%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
}
#slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
    font-size: x-large;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
    font-size: 160%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav {
    border-top: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav.navbar-inverse #slidemenu {
    background: #333;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
#navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom:0;
    width: 80%;
    left: -80%;
    background: #f7f7f7;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#navbar-height-col.inverse {
    background: #333;
    z-index: 1;
    position: fixed;
    border: 0;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
#slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: left;
    overflow: hidden;
}

#slide-nav .navbar-form .form-control {
    text-align: left;
}

#slide-nav .navbar-form .btn {
    width: 100%
}

.navbar-form{
    border-top:none !important;
    -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1) !important;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1) !important;
}

.navbar-brand{
    opacity: 0;
    margin-top:2px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}